@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}
.box {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  /* margin-left: 42%; */
  /* margin-top: 40%; */
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg);
  -webkit-animation: move 5s linear infinite;
}
.minbox {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 30px;
  -webkit-transform-style: preserve-3d;
}
.minbox li {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  /* 背景颜色 */
  background-color: rgb(0, 183, 255);
  /* opacity: 0.45; */
  outline: rgb(40, 226, 240) solid thick;
  box-shadow: rgba(17, 123, 194, 0.712) 0 0 50px 50px;
}
.minbox li:nth-child(1) {
  background: url(https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/274704265_628302834898022_5729532752291235098_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=iLd7TGWr4YkAX_9BC-O&_nc_ht=scontent.fhan14-2.fna&oh=00_AT8-HZXQkaBJEhyTV0vpAybsQKPCTsLNK1wWJz1Emm8BVg&oe=623CC57A) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}
.minbox li:nth-child(2) {
  background: url(https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/274704265_628302834898022_5729532752291235098_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=iLd7TGWr4YkAX_9BC-O&_nc_ht=scontent.fhan14-2.fna&oh=00_AT8-HZXQkaBJEhyTV0vpAybsQKPCTsLNK1wWJz1Emm8BVg&oe=623CC57A) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(50px);
}
.minbox li:nth-child(3) {
  background: url(https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/267601190_593814868346819_790263068970554674_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=174925&_nc_ohc=BinSt3o_C0YAX9WoGJE&_nc_ht=scontent.fhan14-1.fna&oh=00_AT-vV01q1OOxlJS9dqNUafDGqHInIvYluNS0aQdqFAxahQ&oe=623CC0B6) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}
.minbox li:nth-child(4) {
  background: url(https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/260867488_579955869732719_7657122525732289696_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=pmEn58lq1NkAX9I5Pss&_nc_ht=scontent.fhan14-1.fna&oh=00_AT9tKN_ztY7kXUsPixUZH5i0ADkT4JepBLZsTorO4u43Ug&oe=623CF59E) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}
.minbox li:nth-child(5) {
  background: url(https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/274704265_628302834898022_5729532752291235098_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=iLd7TGWr4YkAX_9BC-O&_nc_ht=scontent.fhan14-2.fna&oh=00_AT8-HZXQkaBJEhyTV0vpAybsQKPCTsLNK1wWJz1Emm8BVg&oe=623CC57A) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.minbox li:nth-child(6) {
  background: url(https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/186453532_915352339010011_4459229857973449863_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=IJBSiCcEICkAX9z0Wkb&tn=QilM9Vg69Z53Pnp6&_nc_ht=scontent.fhan2-2.fna&oh=00_AT-bHJ0upbzmXfJbc6QwoJpNtfV0ZQU5rpAqPFJu0RmUWw&oe=624B5C75) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}
.maxbox li:nth-child(1) {
  background: url(https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/267601190_593814868346819_790263068970554674_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=174925&_nc_ohc=BinSt3o_C0YAX9WoGJE&_nc_ht=scontent.fhan14-1.fna&oh=00_AT-vV01q1OOxlJS9dqNUafDGqHInIvYluNS0aQdqFAxahQ&oe=623CC0B6) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}
.maxbox li:nth-child(2) {
  background: url(https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/274704265_628302834898022_5729532752291235098_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=iLd7TGWr4YkAX_9BC-O&_nc_ht=scontent.fhan14-2.fna&oh=00_AT8-HZXQkaBJEhyTV0vpAybsQKPCTsLNK1wWJz1Emm8BVg&oe=623CC57A) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}
.maxbox li:nth-child(3) {
  background: url(https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/272958369_616938289367810_1308576287958195327_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=174925&_nc_ohc=hgjzVhoXkw4AX-Pb2JM&_nc_ht=scontent.fhan14-2.fna&oh=00_AT9Nhu5BQqiwuiUyELPvPP1m11DIPmkrb8gcdfuscHp_ug&oe=623B4635) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}
.maxbox li:nth-child(4) {
  background: url(https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/267601190_593814868346819_790263068970554674_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=174925&_nc_ohc=BinSt3o_C0YAX9WoGJE&_nc_ht=scontent.fhan14-1.fna&oh=00_AT-vV01q1OOxlJS9dqNUafDGqHInIvYluNS0aQdqFAxahQ&oe=623CC0B6) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}
.maxbox li:nth-child(5) {
  background: url(https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/254997970_568328260895480_4198154955851088410_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=174925&_nc_ohc=KXrel3hVsUoAX8ygJqy&_nc_ht=scontent.fhan14-2.fna&oh=00_AT9Llw2eC7cIDhhyDbnYaQOVI6mCCstwu2M0EBMSkhdfew&oe=623CB21D) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.maxbox li:nth-child(6) {
  background: url(https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/241488202_539007967160843_3463530222247611669_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=174925&_nc_ohc=W0-PzjlsMuwAX_WaPjq&_nc_oc=AQnUC1PLUoEB88KjfkuR2FwhAoTI0W4QC0RC4RrV7aLyn78kg_Pqli8ltdclzYMK6N4&_nc_ht=scontent.fhan14-1.fna&oh=00_AT8bZtm3_GPnZeuFmiE50cunitoffgBLsheUYIkagmfZpA&oe=623D0926) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}
.maxbox {
  width: 800px;
  height: 400px;
  position: absolute;
  left: 0;
  top: -20px;
  -webkit-transform-style: preserve-3d;
}
.maxbox li {
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  -webkit-transition: all 1s ease;
}
.maxbox li:nth-child(1) {
  -webkit-transform: translateZ(100px);
}
.maxbox li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(100px);
}
.maxbox li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}
.maxbox li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(100px);
}
.maxbox li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}
.maxbox li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
}
.box:hover ol li:nth-child(1) {
  -webkit-transform: translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
@keyframes move {
  0% {
    -webkit-transform: rotateX(13deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(13deg) rotateY(360deg);
  }
}
