@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
li {
  list-style: none;
}
.box {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  /* margin-left: 42%; */
  /* margin-top: 40%; */
  top: 50%;
  left: 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(13deg);
  -webkit-animation: move 5s linear infinite;
}
.minbox {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50px;
  top: 30px;
  -webkit-transform-style: preserve-3d;
}
.minbox li {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
  /* 背景颜色 */
  background-color: rgb(0, 183, 255);
  /* opacity: 0.45; */
  outline: rgb(40, 226, 240) solid thick;
  box-shadow: rgba(17, 123, 194, 0.712) 0 0 50px 50px;
}
.minbox li:nth-child(1) {
  background: url(https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/241254039_986042218607689_4619802728355642112_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=sokhzp3MH5wAX-ubOBo&tn=QilM9Vg69Z53Pnp6&_nc_ht=scontent.fhan2-4.fna&oh=00_AT8rZ3y28xP3EdUo0IkxQJvCSUK3x36OzmQ7ih9Q8G2idQ&oe=622A5A73) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}
.minbox li:nth-child(2) {
  background: url(https://scontent.fhan2-3.fna.fbcdn.net/v/t1.6435-9/175383470_899191617292750_2997949205963557555_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=XAiz1IygsMMAX92CLBB&_nc_ht=scontent.fhan2-3.fna&oh=00_AT-erF3JsSxjwKl_9WV2czoSkrc5xUdFyjAw4p8Yu84tbw&oe=624C408D) no-repeat 0 0;
  -webkit-transform: rotateX(180deg) translateZ(50px);
}
.minbox li:nth-child(3) {
  background: url(https://scontent.fhan2-1.fna.fbcdn.net/v/t1.6435-9/186508062_915352249010020_7542955207970598210_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=Tq3Vkdi_R2EAX-ZGiZ_&_nc_ht=scontent.fhan2-1.fna&oh=00_AT_wKwEPtzor6S23VgmvZQUHcgEANOdk-WGVxNihDVtvhA&oe=624B9E4F) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}
.minbox li:nth-child(4) {
  background: url(https://scontent.fpnh22-4.fna.fbcdn.net/v/t1.6435-9/128400604_816461802232399_1295825654295048729_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=_MHw9mH4DUoAX8pfTyX&_nc_oc=AQkQG2qniz7gAnia1eta932Ri6p1OOVKM1gZlYrNFfJvze6W6tCYj6ZI5qT1XMZlJLk&_nc_ht=scontent.fpnh22-4.fna&oh=00_AT8AycZFxTzF4M3ZfEajZaUapJzKSJSW91VYQB8X0NqQNA&oe=624C598A) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}
.minbox li:nth-child(5) {
  background: url(https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/241254039_986042218607689_4619802728355642112_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=sokhzp3MH5wAX-ubOBo&tn=QilM9Vg69Z53Pnp6&_nc_ht=scontent.fhan2-4.fna&oh=00_AT8rZ3y28xP3EdUo0IkxQJvCSUK3x36OzmQ7ih9Q8G2idQ&oe=622A5A73) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.minbox li:nth-child(6) {
  background: url(https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/186453532_915352339010011_4459229857973449863_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=IJBSiCcEICkAX9z0Wkb&tn=QilM9Vg69Z53Pnp6&_nc_ht=scontent.fhan2-2.fna&oh=00_AT-bHJ0upbzmXfJbc6QwoJpNtfV0ZQU5rpAqPFJu0RmUWw&oe=624B5C75) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}
.maxbox li:nth-child(1) {
  background: url(https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/241254039_986042218607689_4619802728355642112_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=sokhzp3MH5wAX-ubOBo&tn=QilM9Vg69Z53Pnp6&_nc_ht=scontent.fhan2-4.fna&oh=00_AT8rZ3y28xP3EdUo0IkxQJvCSUK3x36OzmQ7ih9Q8G2idQ&oe=622A5A73) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}
.maxbox li:nth-child(2) {
  background: url(https://scontent.fhan2-2.fna.fbcdn.net/v/t1.6435-9/186453532_915352339010011_4459229857973449863_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=IJBSiCcEICkAX9z0Wkb&tn=QilM9Vg69Z53Pnp6&_nc_ht=scontent.fhan2-2.fna&oh=00_AT-bHJ0upbzmXfJbc6QwoJpNtfV0ZQU5rpAqPFJu0RmUWw&oe=624B5C75) no-repeat 0 0;
  -webkit-transform: translateZ(50px);
}
.maxbox li:nth-child(3) {
  background: url(https://scontent.fhan2-3.fna.fbcdn.net/v/t1.6435-9/175383470_899191617292750_2997949205963557555_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=XAiz1IygsMMAX92CLBB&_nc_ht=scontent.fhan2-3.fna&oh=00_AT-erF3JsSxjwKl_9WV2czoSkrc5xUdFyjAw4p8Yu84tbw&oe=624C408D) no-repeat 0 0;
  -webkit-transform: rotateX(-90deg) translateZ(50px);
}
.maxbox li:nth-child(4) {
  background: url(https://scontent.fpnh22-4.fna.fbcdn.net/v/t1.6435-9/128400604_816461802232399_1295825654295048729_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=_MHw9mH4DUoAX8pfTyX&_nc_oc=AQkQG2qniz7gAnia1eta932Ri6p1OOVKM1gZlYrNFfJvze6W6tCYj6ZI5qT1XMZlJLk&_nc_ht=scontent.fpnh22-4.fna&oh=00_AT8AycZFxTzF4M3ZfEajZaUapJzKSJSW91VYQB8X0NqQNA&oe=624C598A) no-repeat 0 0;
  -webkit-transform: rotateX(90deg) translateZ(50px);
}
.maxbox li:nth-child(5) {
  background: url(https://scontent.fhan2-4.fna.fbcdn.net/v/t39.30808-6/241254039_986042218607689_4619802728355642112_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=sokhzp3MH5wAX-ubOBo&tn=QilM9Vg69Z53Pnp6&_nc_ht=scontent.fhan2-4.fna&oh=00_AT8rZ3y28xP3EdUo0IkxQJvCSUK3x36OzmQ7ih9Q8G2idQ&oe=622A5A73) no-repeat 0 0;
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}
.maxbox li:nth-child(6) {
  background: url(https://scontent.fhan2-1.fna.fbcdn.net/v/t1.6435-9/186508062_915352249010020_7542955207970598210_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=Tq3Vkdi_R2EAX-ZGiZ_&_nc_ht=scontent.fhan2-1.fna&oh=00_AT_wKwEPtzor6S23VgmvZQUHcgEANOdk-WGVxNihDVtvhA&oe=624B9E4F) no-repeat 0 0;
  -webkit-transform: rotateY(90deg) translateZ(50px);
}
.maxbox {
  width: 800px;
  height: 400px;
  position: absolute;
  left: 0;
  top: -20px;
  -webkit-transform-style: preserve-3d;
}
.maxbox li {
  width: 200px;
  height: 200px;
  background: #fff;
  border: 1px solid #ccc;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.2;
  -webkit-transition: all 1s ease;
}
.maxbox li:nth-child(1) {
  -webkit-transform: translateZ(100px);
}
.maxbox li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(100px);
}
.maxbox li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
}
.maxbox li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(100px);
}
.maxbox li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
}
.maxbox li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
}
.box:hover ol li:nth-child(1) {
  -webkit-transform: translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(2) {
  -webkit-transform: rotateX(180deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(3) {
  -webkit-transform: rotateX(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(4) {
  -webkit-transform: rotateX(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(5) {
  -webkit-transform: rotateY(-90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
.box:hover ol li:nth-child(6) {
  -webkit-transform: rotateY(90deg) translateZ(300px);
  width: 400px;
  height: 400px;
  opacity: 0.8;
  left: -100px;
  top: -100px;
}
@keyframes move {
  0% {
    -webkit-transform: rotateX(13deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateX(13deg) rotateY(360deg);
  }
}
